@import "tailwindcss";

@media (max-width: 480px){
    .number{
        font-size: 3.3rem;
    }
    .leading{
        line-height: 3em;
    }
    .subheading{
        font-size: 1.1rem;
    }
    .padding-left{
        padding-left: 20px;
    }
    .padding-left-v2{
        padding-left: 40px;
    }
    .margin-right{
        margin-right: 20px;
    }
    .padding-x{
        padding-left: 20px;
        padding-right: 20px;
    }
    .heading{
        font-size: 2rem;
    }
    .button-container{
        flex-direction: column;
    }
    .button-below{
        margin-left: 0;
        margin-top: 1em;
    }
    .button{
        width: 100%;
    }
    .quotes{
        font-size: 1rem;
    }
}